body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h1 {
  color: navy;
  margin-left: 20px;
}

h2 {
  color: navy;
}

h3 {
  color: navy;
}

h4 {
  color: navy;
}

h5 {
  color: navy;
}
